* {
    margin: 0;
    padding: 0;
}


body {
    background-color: lightgrey;
}


#title {
    display: flex;
    justify-content: center;
}


#buttonSelection {
    display: flex;
    justify-content: center;
}


#gridContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 100px auto 0 auto;
}


.cells {
    border: 1px solid whitesmoke;
}


/* Slide tab functionality */
#gridSlideContainer {
    margin: 0 auto;
    width: 500px;
}

.slide {
    height: 25px;
    width: 500px;
    background-color: white;
}

#valueSlide {
    margin: 0 auto;
    text-align: center;
}