* {
    margin: 0;
    padding: 0;
}


body {
    background-color: lightgrey;
}


#title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 65px;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: -1px;
    line-height: 1;
}


#buttonSelection {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid grey;
    font-weight: 600;
    outline: none;
    border-radius: 50px;
    height: 45px;
    width: 130px;
    opacity: 1;
    cursor: pointer;
    font-size: 1rem;
}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 15px auto 0 auto;
    
}


.cells {
    border: 1px solid whitesmoke;
}


/* Slide tab functionality */
#gridSlideContainer {
    margin: 1rem auto;
    width: 500px;
}

.slide {
    height: 1rem;
    width: 500px;
    background-color: white;
    cursor: pointer;
}

#valueSlide {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
}